streamlit
pandas
langchain==0.3.19
langchain-community==0.3.18
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langchain-core==0.3.40
faiss-cpu
sentence-transformers==3.4.1
gigachat==0.1.39
